#articles
{
    margin-top: 40px;
    margin-bottom: 50px;
}

#articles .article-preview
{

}
.article-preview {
    float: left;
    width: 590px;
    margin-bottom: 30px;
}

.article-preview .preview-image {
    width: 133px;
    height: 133px;
    border-radius: 7px;
    float: left;
}

.article-preview .content {
    margin-right: 50px;
    margin-left: 163px;
}

.article-preview .content .date {
    font-family: 'PT Sans Narrow', serif;
    font-size: 13px;
    color: #c5c5c5;
}

.article-preview .content .title {
    font-family: 'PT Sans Narrow', serif;
    font-size: 17px;
    font-weight: 700;
    color: #f26522;
    text-transform: uppercase;
}

.article-preview .content .text {
    font-family: 'PT Sans', serif;
    font-size: 13px;
    padding-top: 15px;
}

.article-preview .content .all-article-link {
    padding-top: 10px;
}

.article-preview .content .all-article-link a {
    font-family: 'PT Sans', serif;
    font-size: 12px;
    color: #0072bc;;
}


