.cart-menu-panel {
    margin-bottom: 40px;
}

#cart-items {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 942px;
}

.cart-item-bottom {
    height: 5px;
    width: 920px;
    background: url("../img/cart-item-bottom.png") no-repeat;
    position: relative;
    margin: 0 auto;
}

.cart-item {
    margin-top: 25px;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    background-color: #ffffff;
}

.cart-item .image {
    width: 154px;
    height: 154px;
    /*border: 1px solid #f7f7f7;*/
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    margin: 8px;
}

.cart-item .description {
    margin-left: 25px;
    margin-top: 35px;
    width: 250px;
    float: left;
    font-family: 'PT Sans', serif;
    font-size: 12px;
}

.cart-item .description .title {
    color: #00aeef;
    font-family: 'PT Sans Narrow', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.cart-item .description .title a {
    color: inherit;
}

.cart-tying-products-link {
    position: relative;
    width: 220px;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding-bottom: 8px;
    font-family: 'PT Sans', serif;
    font-size: 15px;
    color: #00aeef;
    margin: -4px auto 0;
}

.cart-tying-products-link a {
    color: inherit;
}

#total {
    height: 40px;
    font-family: 'PT Sans Narrow', serif;
    font-size: 25px;
    color: #00aeef;
    text-align: center;
    background: url("../img/total.png") repeat-x 0 18px;
    margin-top: 45px;
    font-weight: 700;
}

#total #amount {
    background: #f5f5f5;
    padding: 0 20px;

}

#buy-button {
    width: 200px;
    height: 46px;
    position: relative;
    margin: 45px auto 0;
    padding-left: 25px;
    background: url("../img/buy-button.png") no-repeat 25px 0;
}

#buy-button a {
    display: block;
    width: 200px;
    height: 46px;
}

.quantity {
    float: left;
    width: 60px;
    height: 100px;
    margin-left: 80px;
    margin-top: 34px;
    color: #8d8e8e;
    font-family: 'PT Sans Narrow', serif;
    font-weight: bold;
}

.quantity .arrow-inc, .quantity .arrow-dec {
    width: 32px;
    height: 14px;
    margin-left: 14px;
    cursor: pointer;
}

.quantity .arrow-inc {
    background: url("../img/cart-quantity-arrow-increase.png");
}

.quantity .arrow-dec {
    background: url("../img/cart-quantity-arrow-decrease.png");
}

.quantity-amount {
    height: 70px;
    font-size: 52px;
    text-align: center;
}

.quantity-unit
{
    float: left;
    margin-top: 70px;
    font-size: 20px;

}

.cart-item .price
{
    font-family: 'PT Sans Narrow', serif;
    font-weight: bold;
    float: left;
    width: 150px;
    color: #f7941d;
    font-size: 25px;
    margin-top: 68px;
    text-align: right;
    margin-left: 50px;
}

.cart-item .delete-cart-item
{
    width: 28px;
    height: 28px;
    background: url("../img/delete-cart-item.png");
    float: left;
    margin-left: 70px;
    margin-top: 70px;
    cursor: pointer;
}